### 导包

In [11]:
import pymysql
import pandas as pd

### 创建数据库对象

In [12]:
# 创建连接
conn = pymysql.connect(
	host="10.130.65.8",
    port=3306,
    user="hc_user", 
    password="e2w1TXK4fV", 
    database="db_hc_uat_basic", 
    charset="utf8"
)
print('连接数据库成功！')

连接数据库成功！

### 构造要读取的源数据库，源表

In [13]:
#源数据库
source_database="db_hc_uat_report"
#源表
source_tables=["report_hc_group","report_department_employee","report_d_product","report_d_regiment","report_hc_budget_summary","report_d_product"]

#生成查询语句
for index,value in enumerate(source_tables):
    query="show create table "+source_database+"."+value
    print(query)
    df1=pd.read_sql(query,conn)
    if index==0:
        df=df1
    else:
        df=pd.concat([df,df1],ignore_index=True)
df

show create table db_hc_uat_report.report_hc_group
show create table db_hc_uat_report.report_department_employee
show create table db_hc_uat_report.report_d_product
show create table db_hc_uat_report.report_d_regiment
show create table db_hc_uat_report.report_hc_budget_summary
show create table db_hc_uat_report.report_d_product

/tmp/ipykernel_1458/436734595.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1=pd.read_sql(query,conn)

,Table,Create Table
0,report_hc_group,CREATE TABLE `report_hc_group` (\n `id` bigin...
1,report_department_employee,CREATE TABLE `report_department_employee` (\n ...
2,report_d_product,CREATE TABLE `report_d_product` (\n `id` bigi...
3,report_d_regiment,CREATE TABLE `report_d_regiment` (\n `id` big...
4,report_hc_budget_summary,CREATE TABLE `report_hc_budget_summary` (\n `...
5,report_d_product,CREATE TABLE `report_d_product` (\n `id` bigi...

### 查看原始建表语句

In [14]:
df["Create Table"][0]

"CREATE TABLE `report_hc_group` (\n  `id` bigint(21) unsigned NOT NULL AUTO_INCREMENT COMMENT '自增id',\n  `report_day` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '报表日期',\n  `setid` varchar(5) NOT NULL DEFAULT '' COMMENT '业务单元',\n  `budget_type` tinyint(4) NOT NULL DEFAULT '0' COMMENT '编制类型',\n  `budget_id` int(11) NOT NULL DEFAULT '0' COMMENT '编制预算表id',\n  `code` varchar(20) NOT NULL DEFAULT '' COMMENT '代码',\n  `name` varchar(50) NOT NULL DEFAULT '' COMMENT '名称',\n  `parent_code` varchar(20) NOT NULL DEFAULT '' COMMENT '父代码',\n  `full_code` varchar(200) NOT NULL DEFAULT '' COMMENT '全路径',\n  `full_name` varchar(500) NOT NULL DEFAULT '' COMMENT '全路径名称',\n  `eff_date` varchar(10) NOT NULL DEFAULT '' COMMENT '生效日期(默认空,不限制)',\n  `hc_control` tinyint(4) NOT NULL DEFAULT '0' COMMENT '纳入编制管控(0=否1=虚拟[自身未管控但是下级有管控]2=是)',\n  `budget_pool_id` int(11) NOT NULL DEFAULT '0' COMMENT '编制池id',\n  `campus_recruit_num` int(11) NOT NULL DEFAULT '0' COMMENT '校招待入职',\n  `campus_recruit_total_num` int(11) NOT NULL DEFAULT '0' COMMENT '校招待入职-组织汇总',\n  `fixed_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '计划编制数',\n  `total_fixed_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '汇总计划编制数',\n  `float_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '浮动编制数',\n  `total_float_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '汇总浮动编制数',\n  `freeze_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '冻结编制数',\n  `total_freeze_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '汇总冻结编制数',\n  `recycle_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '回收编制数',\n  `total_recycle_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '汇总回收编制数',\n  `system_num` int(11) NOT NULL DEFAULT '0' COMMENT '系统浮动编制数',\n  `total_system_num` int(11) NOT NULL DEFAULT '0' COMMENT '汇总系统浮动编制数',\n  `borrow_out_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '借出编制数',\n  `total_borrow_out_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '汇总借出编制数',\n  `borrow_in_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '借入编制数',\n  `total_borrow_in_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '汇总借入编制数',\n  `public_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '未分配编制数',\n  `total_public_num` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '汇总未分配编制数',\n  `status` tinyint(4) NOT NULL DEFAULT '0' COMMENT '状态(1=启用2=禁用3=失效)',\n  `created_at` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '添加时间',\n  `creator_id` varchar(20) NOT NULL DEFAULT '' COMMENT '创建人ID',\n  `updated_at` int(11) unsigned NOT NULL DEFAULT '0' COMMENT '更新时间',\n  `updator_id` varchar(20) NOT NULL DEFAULT '' COMMENT '更新人ID',\n  PRIMARY KEY (`id`),\n  KEY `idx_budget_code` (`budget_id`,`code`),\n  KEY `idx_report_day` (`report_day`),\n  KEY `idx_setid_code` (`setid`,`code`)\n) ENGINE=InnoDB AUTO_INCREMENT=46659 DEFAULT CHARSET=utf8mb4 COMMENT='编制预算表使用的组织结构(树形结构)'"

### 修改生成新的建表语句

In [15]:
#导入正则模块
import re
for i in range(df.shape[0]):
    print(i)
    #找出多余的ddl
    replace_str_list=re.findall("\)\ (.*?) COMMENT", df["Create Table"][i])+ re.findall("text (.*?) COMMENT", df["Create Table"][0])
    
    # 将列表转换成集合并排序
    replace_str_list = set(replace_str_list)
    replace_str_list = sorted(replace_str_list,key=lambda s: len(s),reverse=True)
    
    #替换字段类型中的（）和数值：varchar(100) -- varchar
    df["Create Table"][i]=re.sub('\((\d+)\)', '', df["Create Table"][i])
    
    #替换字段类型
    df["Create Table"][i]=df["Create Table"][i].replace('varchar', 'string').replace('text', 'string')
    df["Create Table"][i]=df["Create Table"][i].replace('smallint','int').replace('float', 'double')
    
    for j in replace_str_list:
        #去除多余的ddl
        df["Create Table"][i]=df["Create Table"][i].replace(j,"")

#查看一下是否修改成功
df["Create Table"][0]

0
1
2
3
4
5

"CREATE TABLE `report_hc_group` (\n  `id` bigint  COMMENT '自增id',\n  `report_day` int  COMMENT '报表日期',\n  `setid` string  COMMENT '业务单元',\n  `budget_type` tinyint  COMMENT '编制类型',\n  `budget_id` int  COMMENT '编制预算表id',\n  `code` string  COMMENT '代码',\n  `name` string  COMMENT '名称',\n  `parent_code` string  COMMENT '父代码',\n  `full_code` string  COMMENT '全路径',\n  `full_name` string  COMMENT '全路径名称',\n  `eff_date` string  COMMENT '生效日期(默认空,不限制)',\n  `hc_control` tinyint  COMMENT '纳入编制管控(0=否1=虚拟[自身未管控但是下级有管控]2=是)',\n  `budget_pool_id` int  COMMENT '编制池id',\n  `campus_recruit_num` int  COMMENT '校招待入职',\n  `campus_recruit_total_num` int  COMMENT '校招待入职-组织汇总',\n  `fixed_num` int  COMMENT '计划编制数',\n  `total_fixed_num` int  COMMENT '汇总计划编制数',\n  `double_num` int  COMMENT '浮动编制数',\n  `total_double_num` int  COMMENT '汇总浮动编制数',\n  `freeze_num` int  COMMENT '冻结编制数',\n  `total_freeze_num` int  COMMENT '汇总冻结编制数',\n  `recycle_num` int  COMMENT '回收编制数',\n  `total_recycle_num` int  COMMENT '汇总回收编制数',\n  `system_num` int  COMMENT '系统浮动编制数',\n  `total_system_num` int  COMMENT '汇总系统浮动编制数',\n  `borrow_out_num` int  COMMENT '借出编制数',\n  `total_borrow_out_num` int  COMMENT '汇总借出编制数',\n  `borrow_in_num` int  COMMENT '借入编制数',\n  `total_borrow_in_num` int  COMMENT '汇总借入编制数',\n  `public_num` int  COMMENT '未分配编制数',\n  `total_public_num` int  COMMENT '汇总未分配编制数',\n  `status` tinyint  COMMENT '状态(1=启用2=禁用3=失效)',\n  `created_at` int  COMMENT '添加时间',\n  `creator_id` string  COMMENT '创建人ID',\n  `updated_at` int  COMMENT '更新时间',\n  `updator_id` string  COMMENT '更新人ID',\n  PRIMARY KEY (`id`),\n  KEY `idx_budget_code` (`budget_id`,`code`),\n  KEY `idx_report_day` (`report_day`),\n  KEY `idx_setid_code` (`setid`,`code`)\n)  COMMENT='编制预算表使用的组织结构(树形结构)'"

In [16]:
df.head()

,Table,Create Table
0,report_hc_group,CREATE TABLE `report_hc_group` (\n `id` bigin...
1,report_department_employee,CREATE TABLE `report_department_employee` (\n ...
2,report_d_product,CREATE TABLE `report_d_product` (\n `id` bigi...
3,report_d_regiment,CREATE TABLE `report_d_regiment` (\n `id` big...
4,report_hc_budget_summary,CREATE TABLE `report_hc_budget_summary` (\n `...

### 导出数据

In [17]:
#输出文件路径-文件名
output_filepath="/home/docker_worker/work/source_create_table_ddl.xlsx"
#创建对象
writer_report=pd.ExcelWriter(output_filepath)
#插入数据到Excel
df.to_excel(excel_writer=writer_report,sheet_name="mysql",startrow=0, startcol=0,index=True)
#保存数据
writer_report.save()
#关闭ExcelWriter
writer_report.close()

OSError: Cannot save file into a non-existent directory: '/Users/wangdante/D/mydocker/jupyter/data'

### 关闭数据库连接

In [18]:
#关闭数据库连接
conn.close()